* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  background-color: #171717;
  background-size: 100% 100%;
}

@media (max-width: 480px) {
  .container {
    height: auto;
  }
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}

.container .navbar-content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 480px) {
  .container .navbar-content {
    background-color: #171717;
  }
}

.container .navbar-content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .container .navbar-content .menu {
    top: 4.1%;
    right: 15%;
    position: absolute;
  }
}

@media (max-width: 480px) {
  .container .navbar-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .navbar-content .navbar-items ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .container .navbar-content .navbar-items ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
}

.container .navbar-content .navbar-items ul li {
  padding: 10px;
}

.container .navbar-content .navbar-items ul li a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
}

.container .navbar-content .navbar-items ul li a:hover {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  color: greenyellow;
}

.container .navbar-content .logo h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #FFFFFF;
  margin-left: 50px;
}

@media (max-width: 480px) {
  .container .navbar-content .logo h1 {
    margin-right: 50px;
    color: greenyellow;
  }
}

.works {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .works {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.works img {
  width: 100%;
}

.works1 {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .works1 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.works1 img {
  width: 100%;
}

.works2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .works2 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.works2 img {
  width: 100%;
}
/*# sourceMappingURL=myworkstyle.css.map */